

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF8DC;
	
}

.posicao{
    position: relative;
}

.border{
    border-style: solid;
    background-color: white;
    border-top-color: rgba(212,65,23,255);
    border-left-color: rgba(87,117,177,255);
    border-right-color: rgba(242,164,56,255);
    border-bottom-color: rgba(107,180,39,255);
}

header{
    margin: 20 px;
    max-width: 100%;
    height: 70px;
}

#logo{
    margin-top: 10px;
    margin-left: 5px;
    height: 50%;
    width: 50%;
}

#menu{
    width: 50%;
    margin-top: 30px;
    font-size: 17px;
	height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
}

a{
	color: #4b566a;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
}

a:hover {
	text-decoration:underline;
	color:#603912;
}

.centralizarElementos{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

section{
    margin-top: 60px;
    background-color: blue;
}

.img1{
    margin: 10px;
    height: 400px;
    
}

footer{
    background:  rgba(87,117,177,255);
    height: 30px;
    margin-top: 10px;
    position: relative
}

h4{text-align: center;
   color: white;
}


